// J280 GW2A-LV55PG484C8/I7. Sources: coreboard_20230817,
// Balance_Ctrl_20260618, J280 user manual PDF pp14,17,25-27.
// STBY pins are hard-wired on the board; never assign them to FPGA pads.
IO_LOC "clk_50m" M19;
IO_PORT "clk_50m" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rst_n" AB3;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "key_sw[0]" T18;
IO_PORT "key_sw[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "key_sw[1]" R18;
IO_PORT "key_sw[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "key_sw[2]" U20;
IO_PORT "key_sw[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "key_sw[3]" T20;
IO_PORT "key_sw[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "uart_tx" K20;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "uart_rx" L20;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_clk" G18;
IO_PORT "adc_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc_oe_n" H20;
IO_PORT "adc_oe_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adc_otr" F18;
IO_PORT "adc_otr" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[9]" E19;
IO_PORT "adc_data_in[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[8]" G17;
IO_PORT "adc_data_in[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[7]" G19;
IO_PORT "adc_data_in[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[6]" H19;
IO_PORT "adc_data_in[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[5]" H18;
IO_PORT "adc_data_in[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[4]" D19;
IO_PORT "adc_data_in[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[3]" J19;
IO_PORT "adc_data_in[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[2]" J20;
IO_PORT "adc_data_in[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[1]" M21;
IO_PORT "adc_data_in[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adc_data_in[0]" L21;
IO_PORT "adc_data_in[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "enc1_a" Y20;
IO_PORT "enc1_a" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "enc1_b" AA20;
IO_PORT "enc1_b" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "AN1" Y17;
IO_PORT "AN1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "AN2" Y19;
IO_PORT "AN2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWMA" Y18;
IO_PORT "PWMA" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
// Correct BIN1/BIN2 using schematic; active Interface_test CST reversed them.
IO_LOC "BN1" AA17;
IO_PORT "BN1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "BN2" V15;
IO_PORT "BN2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWMB" V14;
IO_PORT "PWMB" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
